EMAIL_SMTP_SERVER=""
EMAIL_SMTP_PORT=""
EMAIL_SMTP_BRIDGE_USERNAME=""
EMAIL_SMTP_BRIDGE_PASSWORD=""
EMAIL_FROM=""
EMAIL_SMTP_TEST_EMAIL=""
EMAIL_ADMIN=""

TWITTER_API_KEY=""
TWITTER_API_SECRET_KEY=""
TWITTER_ACCESS_TOKEN=""
TWITTER_ACCESS_TOKEN_SECRET=""
TWITTER_USERNAME=""
TWITTER_PASSWORD=""
TWITTER_BEARER_TOKEN=""

LINKEDIN_USER=""
LINKEDIN_CLIENT_ID=""
LINKEDIN_CLIENT_SECRET=""
LINKEDIN_ACCESS_TOKEN=""
LINKEDIN_PERSON_URN=""

FACEBOOK_ACCESS_TOKEN=""
FACEBOOK_PAGE_ID=""

INSTAGRAM_USERNAME=""
INSTAGRAM_PASSWORD=""

BLUESKY_USERNAME=""
BLUESKY_PASSWORD=""

MASTODON_ACCESS_TOKEN=""
