{% macro multiselect_dropdown(clients, dropdown_id, button_text='Select
Options') %}
<div class="dropdown mt-1 mb-3" id="{{ dropdown_id }}">
  <button
    class="btn btn-primary dropdown-toggle d-none"
    type="button"
    id="{{ dropdown_id }}Button"
    aria-expanded="false"
  >
    {{ button_text }}
  </button>
  <ul class="dropdown-menu" aria-labelledby="{{ dropdown_id }}Button">
    {% for client in clients %}
    <li
      class="dropdown-item {% if client.selected %}selected{% endif %}"
      data-value="{{ client.value }}"
    >
      {{ client.name }}
    </li>
    {% endfor %}
  </ul>
  <div id="{{ dropdown_id }}HiddenInputsContainer"></div>
  <!-- Container for hidden inputs -->
</div>
{% endmacro %}
