{% extends "base.html" %} {% block title %}Create blurbs{% endblock %} {% block
content %}
<form
  id="form"
  action="/schedule-post"
  method="post"
  onsubmit="submitFunc(event)"
  class="max-width"
>
  <div class="form-group">
    <label for="title">Title</label>
    <textarea class="form-control" id="title" name="title" rows="2">
{{ context.title }}</textarea
    >
  </div>

  <div class="form-group">
    <label for="long_blurb">Long form blurb</label>
    <textarea class="form-control" id="long_blurb" name="long_blurb" rows="4">
{{ context.long_blurb }}</textarea
    >
  </div>

  <div class="form-group">
    <label for="short_blurb">Short form blurb</label>
    <textarea class="form-control" id="short_blurb" name="short_blurb" rows="2">
{{ context.short_blurb }}</textarea
    >
  </div>

  <button type="submit" class="btn btn-primary">Schedule</button>
</form>

{% include 'partials/_spinner.html' %}

<script src="{{ url_for('static', filename='js/textarea_expand.js') }}"></script>
<script src="{{ url_for('static', filename='js/submit.js') }}"></script>

{% endblock %}
