{% extends "base.html" %} {% block title %}Create blurbs{% endblock %} {% block
content %}
<form
  id="form"
  action="/created-content"
  method="post"
  onsubmit="submitFunc(event)"
  class="max-width"
>
  <div class="form-group">
    <label for="prompt">Social media information</label>
    <textarea
      class="form-control"
      id="prompt"
      name="prompt"
      rows="10"
      required
    ></textarea>
    <small class="form-text text-muted"
      >Add information you wish to use in your social push</small
    >
  </div>
  <div class="form-group">
    <button
      type="button"
      class="btn btn-secondary"
      onclick="window.location.href='/created-content'"
    >
      Bypass
    </button>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>

<div class="d-flex justify-content-center align-items-center"></div>

{% include 'partials/_spinner.html' %}

<script src="{{ url_for('static', filename='js/textarea_expand.js') }}"></script>
<script src="{{ url_for('static', filename='js/submit.js') }}"></script>

{% endblock %}
