{% extends "base.html" %} {% from "macros/multiselect-dropdown.html" import
multiselect_dropdown %} {% block title %}Social Media Post Form{% endblock %} {%
block content %}

<form
  id="form"
  action="/submit"
  method="post"
  enctype="multipart/form-data"
  onsubmit="submitFunc(event)"
  class="max-width"
>
  <div class="form-group">
    <label for="title">Title</label>
    <textarea class="form-control" id="title" name="title" rows="2">
{{ title }}</textarea
    >
  </div>
  <div class="form-group">
    <label for="multiselectDropdownContainer">Social media outlets</label>
    {{ multiselect_dropdown(comms_clients, 'multiselectDropdownContainer') }}
  </div>
  <div class="form-group">
    <label for="long_blurb">Long Form Blurb</label>
    <textarea class="form-control" id="long_blurb" name="long_blurb" rows="4">
{{ long_blurb }}</textarea
    >
  </div>
  <div class="form-group">
    <label for="short_blurb">Short Form Blurb</label>
    <textarea class="form-control" id="short_blurb" name="short_blurb" rows="2">
{{ short_blurb }}</textarea
    >
  </div>
  <div class="form-group">
    <label for="hyperlink">Hyperlink</label>
    <textarea
      class="form-control"
      id="hyperlink"
      name="hyperlink"
      rows="1"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="image">Upload Image</label>
    <div
      id="drop-area"
      class="border btn-primary border-primary p-3 mw-400 rounded"
    >
      <p class="mb-0 font-16">
        Drag & drop an image file here, or click to select one
      </p>
      <input
        type="file"
        class="form-control-file"
        id="image"
        name="image"
        style="display: none"
      />
      <img
        id="image-preview"
        src="#"
        alt="Image Preview"
        style="display: none; width: 100%; margin-top: 10px"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="alt_text">Alt Text</label>
    <textarea
      class="form-control"
      id="alt_text"
      name="alt_text"
      rows="1"
    ></textarea>
  </div>
  <div class="form-row max-width-variable">
    <div class="form-group col-md-5 narrower">
      <label for="post_date">Post Date</label>
      <input type="date" class="form-control" id="post_date" name="post_date" />
    </div>
    <div class="form-group col-md-5 narrower">
      <label for="post_time">Post Time</label>
      <input type="time" class="form-control" id="post_time" name="post_time" />
    </div>
    <div class="form-group col-md-2 d-flex align-items-end">
      <button
        type="button"
        class="btn btn-secondary"
        onclick="setDateTimeNow()"
      >
        Now
      </button>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% include 'partials/_spinner.html' %}

<p class="py-3">
  Current UK Time and Date {{ current_time.strftime('%d-%m-%Y %H:%M:%S') }}
</p>

<script src="{{ url_for('static', filename='js/textarea_expand.js') }}"></script>
<script src="{{ url_for('static', filename='js/now.js') }}"></script>
<script src="{{ url_for('static', filename='js/multiselect.js') }}"></script>
<script src="{{ url_for('static', filename='js/file_upload.js') }}"></script>
<script src="{{ url_for('static', filename='js/form_validation.js') }}"></script>
<script src="{{ url_for('static', filename='js/submit.js') }}"></script>

{% endblock %}
